{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'prisoner/style.css' %}" />

<!-- The page header -->
<div id="headerwrapper">
    <div id="header">
        <h1>{{ title }}</h1>
        <div id="logo"></div>
    </div>
</div>

<!--  -->
<div id="game">
    <form action="{% url 'game:first_prisoner' %}" method="post" class="dark-matter">
        {% csrf_token %}
        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Start game">
        </label>
    </form>
</div>